.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}
.search-input {
  margin-top: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.list-item {
  margin-top: 4px;
}